.user{
  &__popularity{
    display: flex;
    align-items: center;
    &__text{
      flex-grow: 0;
      flex-shrink: 0;
      padding: 0 15px 0 0;
    }
  }
}





.slider{
  width: 100%;
  input{
    width: 100%;
    display: block;
    position: relative;
    -webkit-appearance: none;
    height: 5px;
    background: rgba(0,0,0,0.7);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      background: #fff;
      cursor: pointer;
      border-radius: 50%;
    }
    &::-moz-range-thumb {
      width: 25px;
      height: 25px;
      background: #fff;
      cursor: pointer;
      border-radius: 50%;
    }
  }
}